/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e901ca;
  --ifm-color-primary-dark: #d201b6;
  --ifm-color-primary-darker: #c601ac;
  --ifm-color-primary-darkest: #a3018d;
  --ifm-color-primary-light: #fe03dc;
  --ifm-color-primary-lighter: #fe0fde;
  --ifm-color-primary-lightest: #fe32e3;
}

[data-theme='dark'] {
  --ifm-color-primary: #f4ec0b;
  --ifm-color-primary-dark: #f4ec0b;
  --ifm-color-primary-darker: #cfc909;
  --ifm-color-primary-darkest: #aba508;
  --ifm-color-primary-light: #f5ee23;
  --ifm-color-primary-lighter: #f6ef30;
  --ifm-color-primary-lightest: #f7f254;
}


